/b/
/.cache/
/compile_commands.json

/perf.data*
/venv/
/default.profraw
/dev-out/

/.zig-cache/
/zig-out/

/testdata/corpus/

/src/py/__pycache__/

/kevs-bin-*/
/kevs-src-*/

/kevs-bin-*.zip
/kevs-src-*.zip
